$colorBlue: #6897cb;
$colorWhite: #ffffff;
$colorOrange: #f27b2b;
$widthContainerMin: 900px;
$font-size18: 18px;
$font-size24: 24px;
$letter-spacing0_7: 0.7px;
$line-height1_2: 1.2;
$borderWight: 2px solid $colorWhite;